fastapi[standard]
pydantic 
typing 
pandas 
openpyxl 
mlflow 
boto3 
scikit-learn
python-multipart
fsspec
s3fs
streamlit
matplotlib
seaborn
plotly
ultralytics
huggingface-hub
uvicorn
opencv-python-headless
numpy
pillow
torch
torchvision
sentence-transformers
transformers
requests

